# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.log.*

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include plugin cache directory
.terraform.lock.hcl

# To ignore variables files
*.tfvars
*.tfvars.json
